.product-list {
  margin-top: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #0077b6;
  color: white;
}

.edit-btn,
.delete-btn {
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #d00000;
}

.edit-btn:hover {
  background-color: #005f8a;
}

.delete-btn:hover {
  background-color: #9a0000;
}
